@font-face {
    font-family: 'Grotesk', 'Arial', sans-serif;
    src: url(../vendor/fonts/FamiljenGrotesk-Bold.ttf);
}

.card__section {
    font-family: 'Grotesk', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin-top: 40px;
}

.card__container {
    display: flex;
    position: relative;
    justify-content: center;

}

.card__items {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    justify-content: center;
    margin: 34px 0 0 0;
}

.card__header{
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    gap: 10px;
    

}

.card__name {
    display: flex;
    align-content: center;
    background: white;
    margin-top: 18px;
    padding: 2px 12px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 20px;

}

.card__like-button{
    background-image:url("../images/like-button.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    display: flex;
    right: -200px;
    margin-top: 18px;
    width: 18px;
    height: 15px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.card__like-button:hover{
    opacity: 0.6;
    
}

.card__like-button-liked{
    background-image: url("../images/like-button-liked.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    display: flex;
    right: -200px;
    margin-top: 18px;
    width: 18px;
    height: 15px;
    border: none;
    padding: 10px;
    cursor: pointer;
    
    
}

.card__image {
    width: 328px;
    height: 328px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 19px;
    cursor: pointer;


}