@font-face {
    font-family: 'Grotesk', 'Arial', sans-serif;
    src: url(../vendor/fonts/FamiljenGrotesk-Bold.ttf);
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Grotesk', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    z-index: 4;

}

.modal__confirm {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Grotesk', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    z-index: 4;
    padding: 50px;

}

.modal__confirm-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    max-width: 498px;
    width: 100%;
    height: 280px;
    border-radius: 20px;
    font-size: 1.25rem;
    line-height: 24px;
}

.modal__confirm-delete {
    display: flex;
    align-items: center;
    justify-self: center;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FF4D00;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    transition: opacity 1s ease;
    margin-top: 48px;
}

.modal__button-cancel {
    font-family: 'Grotesk', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    transition: opacity 1s ease;
    margin-top: 48px;

}

.modal__header {
    visibility: hidden;
}


.modal__confirm-text {
    text-align: center;

}


.modal__button-close,
.modal__confirm-close {
    display: flex;
    position: absolute;
    background-image: url(../images/close.svg);
    filter: contrast(0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 14px;
    height: 14px;
    border: 0;
    margin: 27px 27px 0 457px;
    border-radius: 0px;
    transition: opacity 1s ease;
    cursor: pointer;
}

.modal__confirm-close {
    margin: -220px 2px 0 457px;
}

.modal__button-close:hover {
    opacity: 0.6;
}

.modal__button-delete {
    display: flex;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FF4D00;
    margin: 0 32px 0 0;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    transition: opacity 1s ease;

}

.modal__description {
    display: flex;
    justify-content: space-between
}

.modal__button-delete_visible {
    visibility: visible;
}

.modal__button-delete_hidden {
    visibility: hidden;

}

.modal__button-delete:hover {
    opacity: 0.6;

}

.modal__container-item {
    background-color: white;
    max-width: 498px;
    width: 100%;
    border-radius: 20px;
    font-size: 1.25rem;
    line-height: 24px;
}

.modal__container-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 496px;
    max-width: 100%;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 20px;


}

.modal__name {
    margin: 0 32px;

}

.modal__weather {
    margin: 12px 32px 32px 32px;

}

.modal__form {
    display: flex;
    flex-direction: column;
    padding: 0 28px 36px 28px;



}

.modal__button-submit {
    font-family: 'Grotesk', 'Arial', sans-serif;
    display: block;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding: 8px 16px;
    border: none;
    background: rgba(0, 0, 0);
    border-radius: 4px;
    color: white;
    width: 124px;
    height: 36px;
    margin: 40px 0 0 0;
    cursor: pointer;
    transition: opacity 1s ease;


}

.modal__text-alt {
    font-family: 'Grotesk', 'Arial', sans-serif;
    color: rgba(0, 0, 0, 0.3);
    display: flex;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    transition: opacity 1s ease;
    margin: 42px 0 0 2px;

}


.modal__button-submit:hover {
    opacity: 0.6;

}



.modal__image {
    border-radius: 20px 20px 0 0;
    width: 498px;
    max-height: 80vh;
    padding-bottom: 20px;
}



@media screen and (min-width: 320px) and (max-width: 426px) {

    .modal__image {
        max-width: 320px;
    }

    .modal__confirm-close {
        margin: -220px 250px 0 450px;
    }

    .modal__container-item,
    .modal__confirm-item {
        max-width: 320px;
        font-size: 1rem;
    }

    .modal__button-close {
        margin-top: 5%;
        margin-left: 85%;

    }

    .modal__header {
        visibility: visible;
        position: absolute;
        height: 208px;
        width: 90%;
        top: 18px;
        border-radius: 10px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0 auto 0 auto;
        bottom: 0;
        right: 0;
        left: 0;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        font-family: 'Grotesk', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 700;
        z-index: 3;

    }

    .modal__button-cancel {
        margin-top: 18px;
    }

    .modal__confirm-delete {
        margin-top: 18px;
    }

    .modal__button-delete {
        font-size: 1rem;
        line-height: 1rem;
    }

    .modal__hamburger-button-close {
        top: 27px;
        right: 27px;
        margin: 0;
        display: flex;
        position: absolute;
        background-image: url(../images/close.svg);
        filter: contrast(0.5);
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 14px;
        height: 14px;
        border: 0;
        margin: 27px 27px 0 457px;
        border-radius: 0px;
        transition: opacity 1s ease;
        cursor: pointer;
    }


}