.profile{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 40px ;


}

.profile__header{
    display: flex;
    flex-direction: row;
    

}

.profile__container{
    margin: 0 0 0 112px;
}